# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

cypress/e2e/screenshots
cypress/e2e/logs
cypress/screenshots
cypress/logs

public/s
backend/node_modules 
backend/public/s 
backend/dist 
backend/data/*.sqlite
backend/yarn.lock
backend/.env

frontend

yarn.lock
