@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --color-text-base: 17, 24, 2;
      --color-text-dark: 200, 200, 200;
      --color-text-muted: 80, 80, 80;
      --color-text-muted-dark: 175, 155, 175;
      --color-text-inverted: 235, 250, 204;
      --color-text-accent: 99, 102, 241;
      --color-bg-light: 255, 245, 255;
      --color-bg-dark: 10, 3, 13;
      --color-bg-muted: 220, 215, 235;
      --color-bg-muted-dark: 20, 6, 26;
      --color-bg-player: 14, 8, 18;
      --color-fill: 179, 255, 23;
      --color-button-accent: 99, 102, 241;
      --color-button-accent-hover: 150, 102, 241;
      --color-button-muted: 212, 255, 122;
      --color-grad-start: 220, 122, 251;
      --color-grad-via: 99, 102, 241;
      --color-grad-end: 150, 102, 241;
      --color-grad-start-dark: 36, 52, 3;
      --color-grad-end-dark: 36, 52, 3;
      --color-error: 255, 0, 0;
   }
 .theme-ccf {
      --color-text-base: 0, 0, 0;
      --color-text-dark: 200, 200, 200;
      --color-text-muted: 175, 175, 175;
      --color-text-muted-dark: 125, 125,125;
      --color-text-inverted: 220, 220, 220;
      --color-text-accent: 218, 109, 41;
      --color-bg-light: 255, 255, 255;
      --color-bg-dark: 14, 14, 22;
      --color-bg-muted: 229, 231, 235;
      --color-bg-muted-dark: 24, 24, 32;
      --color-bg-player: 10, 10, 14;
      --color-fill: 185, 28, 28;
      --color-button-accent: 218, 109, 41;
      --color-button-accent-hover: 198, 139, 71;
      --color-button-muted: 239, 170, 34;
      --color-grad-start: 239, 170, 34;
      --color-grad-via: 218, 109, 41;
      --color-grad-end: 218, 109, 41;
      --color-grad-start-dark: 239, 170, 34;
      --color-grad-end-dark: 218, 109, 41;
      --color-error: 255, 0, 0;
  } 
}

@font-face {
  font-family: 'Mulish';
  font-weight: 200;
  src: url('/assets/fonts/Mulish/static/Mulish-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 500;
  src: url('/assets/fonts/Mulish/static/Mulish-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/Mulish/static/Mulish-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 800;
  font-style: italic;
  src: url('/assets/fonts/Mulish/static/Mulish-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/Mulish/static/Mulish-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/Mulish/static/Mulish-SemiBold.ttf') format('truetype');
}


.volumerange {
  height: 10px;
  margin-top: 4px;
  -webkit-appearance: none;
  width: 100%;
  background: none;
}

.volumerange:focus {
  outline: none;
}

.volumerange::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9b9b9b;
  border-radius: 1px;
  border: 0px solid #000000;
}

.volumerange:focus::-webkit-slider-runnable-track {
  background: #9b9b9b;
}

.volumerange::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9b9b9b;
  border-radius: 1px;
  border: 0px solid #000000;
}

.volumerange::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 10px;
  width: 2px;
  background: linear-gradient(135deg,
      rgb(var(--color-grad-start)) 0%,
      rgb(var(--color-grad-start)) 25%,
      rgb(var(--color-grad-end)) 65%,
      rgb(var(--color-grad-end)) 100%);
  cursor: pointer;
}

.volumerange::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  height: 10px;
  width: 3px;
  background: linear-gradient(135deg,
        rgb(var(--color-grad-start)) 0%,
        rgb(var(--color-grad-start)) 25%,
        rgb(var(--color-grad-end)) 65%,
        rgb(var(--color-grad-end)) 100%);
  cursor: pointer;
}

.volumerange::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 10px;
  width: 3px;
  background: linear-gradient(135deg,
        rgb(var(--color-grad-start)) 0%,
        rgb(var(--color-grad-start)) 25%,
        rgb(var(--color-grad-end)) 65%,
        rgb(var(--color-grad-end)) 100%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.volumerange::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.volumerange::-ms-fill-lower {
  background: #9b9b9b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

.volumerange::-ms-fill-upper {
  background: #9b9b9b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

.volumerange:focus::-ms-fill-lower {
  background: #9b9b9b;
}

.volumerange:focus::-ms-fill-upper {
  height: 2px;
  background: rgb(216, 216, 216);
}

.progressbar::-moz-range-progress {
  height: 2px;
  background: rgb(216, 216, 216);
  border-radius: 3px;
}

.volumerange::-moz-range-progress {
  height: 2px;
  background: rgb(216, 216, 216);
}

.progressbar {
  height: 18px;
  margin-top: 10px;
  -webkit-appearance: none;
  width: 100%;
  background: none;
}

.progressbar:focus {
  outline: none;
}

.progressbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9b9b9b;
  border-radius: 1px;
  border: 0px solid #000000;
}

.progressbar:focus::-webkit-slider-runnable-track {
  background: #9b9b9b;
}

.progressbar::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9b9b9b;
  border-radius: 3px;
  border: 0px solid #000000;
}

.progressbar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: linear-gradient(135deg,
        rgb(var(--color-grad-start)) 0%,
        rgb(var(--color-grad-start)) 25%,
        rgb(var(--color-grad-end)) 65%,
        rgb(var(--color-grad-end)) 100%);
  cursor: pointer;
}

.progressbar::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: linear-gradient(135deg,
        rgb(var(--color-grad-start)) 0%,
        rgb(var(--color-grad-start)) 25%,
        rgb(var(--color-grad-end)) 65%,
        rgb(var(--color-grad-end)) 100%);
  cursor: pointer;
}

.progressbar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: linear-gradient(135deg,
        rgb(var(--color-grad-start)) 0%,
        rgb(var(--color-grad-start)) 25%,
        rgb(var(--color-grad-end)) 65%,
        rgb(var(--color-grad-end)) 100%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.progressbar::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.progressbar::-ms-fill-lower {
  background: #9b9b9b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

.progressbar::-ms-fill-upper {
  background: #9b9b9b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

.progressbar:focus::-ms-fill-lower {
  background: #9b9b9b;
}

.progressbar:focus::-ms-fill-upper {
  height: 4px;
  background: rgb(216, 216, 216);
}

.progressbar::-moz-range-progress {
  height: 4px;
  background: rgb(216, 216, 216);
  border-radius: 3px;
}

.progressbar::-moz-range-progress {
  height: 4px;
  background: rgb(216, 216, 216);
}